@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,500;0,800;1,400&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.chatGlobal{
    width: 100%;
    height: 100%;
    background: url("FundoSocial.png");
}
.chatInput{
    width: 90%;
    margin:0 0 2% 5%;
    padding: 1%;
    font-size: 35px;
    bottom: 0;
    position: absolute;
    background: #fff;
}
h1{
    padding: 10px;
    background: #fff;
    top:0;
    position: absolute;
}

